---
layout: default
---
<div class="post">
  <h2>{{ page.title }}</h2>
  <cite>{{ page.date | date: "%B %d, %Y" }}</cite>

  {{ content }}

  {% if site.social.github and page.github %}
  <div class="btn-group">
    <a class="btn btn-default" href="http://github.com/{{site.social.github}}/{{page.github}}">View on GitHub</a>
    <a class="btn btn-default" href="http://github.com/{{site.social.github}}/{{page.github}}/zipball/master">Download as zip</a>
    <a class="btn btn-default" href="http://github.com/{{site.social.github}}/{{page.github}}/tarball/master">Download as tar.gz</a>
    <a class="btn btn-default" href="http://github.com/{{site.social.github}}/{{page.github}}/fork">Fork It</a>
    <a class="btn btn-default" href="http://github.com/{{site.social.github}}/{{page.github}}/issues">Report an Issue</a>
  </div>
  {% endif %}

  <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
    <a class="addthis_button_preferred_1"></a>
    <a class="addthis_button_preferred_2"></a>
    <a class="addthis_button_preferred_3"></a>
    <a class="addthis_button_compact"></a>
    <a class="addthis_counter addthis_bubble_style"></a>
  </div>
</div>
