---
layout: default
---
<div class="post">
  <h2>{{ page.title }}</h2>
  <cite>{{ page.date | date: "%B %d, %Y" }}</cite>

  {{ content }}

  {% if site.social.github and page.github %}
  <div class="btn-group">
    <a class="btn btn-default" href="http://github.com/{{site.social.github}}/{{page.github}}"><span class="glyphicon glyphicon-eye-open"></span> View on GitHub</a>
    <a class="btn btn-default" href="http://github.com/{{site.social.github}}/{{page.github}}/zipball/master"><span class="glyphicon glyphicon-cloud-download"></span> Download</a>
    <a class="btn btn-default" href="http://github.com/{{site.social.github}}/{{page.github}}/fork"><span class="glyphicon glyphicon-random"></span> Fork</a>
    <a class="btn btn-default" href="http://github.com/{{site.social.github}}/{{page.github}}/issues"><span class="glyphicon glyphicon-exclamation-sign"></span> Report an Issue</a>
  </div>
  {% endif %}
</div>
